In [9]:
a=2;
b=4;
a+b

6

# Membership Operator-in,not in

In [3]:
x="IIT Academy"
a="cad" in x;
a

True

# Order of Operatiors

BODMASS

In [8]:
pwd

'D:\\DataScience_IIT-Guwahati\\Python'

In [10]:
import datetime as dt

In [21]:
dx=dt.datetime.now()

In [22]:
dx.day

8

In [23]:
s="Sceience"

In [27]:
s[::-1]

'ecneiecS'

In [32]:
s="python    Data"

In [ ]:
s.contains(' ')

In [33]:
s=s.split()

In [35]:
' '.join(s)

'python Data'

In [1]:
s=(1,2,3,4,5)

In [4]:
l=len(s)

In [10]:

for i in range(l):
    if i>0:
      print(s[i])

2
3
4
5

In [5]:
def hellow(name,age=60):
    print(f"hellow world {name} from me {age}")

In [4]:
hellow("adinath")

hellow world adinath from me 60

In [16]:
x="data science for me"
f=lambda c:c.split()

'science'

In [33]:
for i in range(0,6):
    for j in range(2*i+1):
        print("*",end="")
    print("\r")

*
***
*****
*******
*********
***********

In [35]:
n=5
for i in range(1,n):
    for j in range(i):
        print(' ',end='')
    for j in range(n-i):
        print("*",end='')
    for j in range(n-i):
        print("*",end='')
    print("\r")

 ********
  ******
   ****
    **

In [44]:
l=[1,2,3,5,6,7,8]
a=[0];
for i in range(len(l)):
    a=max(a,l[i])
print(a)

TypeError: '>' not supported between instances of 'int' and 'list'

In [47]:
l_string=['abc','xyz','aba','121']

for i in l_string:
    if len(i)>2 and i[0]==i[-1]:
        print(i)

aba
121

In [48]:
l=[(2,5),(1,2),(4,4),(2,3),(2,1)]

In [52]:
sorted(l,key=lambda x:x[1])

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [60]:
l1=[1,2,34,5,6]
l2=[1,4,9,8,7]
for i in l1:
    if i in l2:
         print(True)
         break

True

In [9]:
a="a d i n a t h"
a.split()
'-'.join(a)

'a- -d- -i- -n- -a- -t- -h'

'a- -d- -i- -n- -a- -t- -h'

In [11]:
a="adinth"
str=""
for i in a:
    str+=i
    str+='-'
str

'a-d-i-n-t-h-'

In [12]:
a="adinath"
'-'.join(a)

'a-d-i-n-a-t-h'

In [20]:
import numpy as np
np.identity(5)

TypeError: identity() got an unexpected keyword argument 'values'

In [21]:
np.upper_diagonal()

AttributeError: module 'numpy' has no attribute 'upper_diagonal'

In [24]:
np.triu()

TypeError: tri() missing 1 required positional argument: 'N'

In [27]:
np.triu([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], -1)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 0,  8,  9],
       [ 0,  0, 12]])

In [2]:
import pandas as pd
import numpy as np

In [5]:
df=pd.Series(np.array([1,2,3,4,5,np.nan,np.nan]))

In [6]:
df.fillna(df.mean())

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    3.0
6    3.0
dtype: float64

In [6]:
import numpy as np
import pandas as pd
a=np.zeros(6)
b=np.arange(0,10,2)

In [5]:
b

array([0, 2, 4, 6, 8])

In [9]:
s=pd.Series([1,"adinath"])

In [10]:
s.ndim

1